/target/
!.mvn/wrapper/maven-wrapper.jar

# dependencies
/node_modules/
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build
build/
.mv.db

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

**/META-INF/

*.log

*.db
**/*.log

#db config
dbconfig.yaml

### Latex ###
/documentation/src/reusableTable/reusableTableDevGuide.log
/documentation/src/reusableTable/reusableTableDevGuide.aux
/documentation/src/reusableTable/reusableTableDevGuide.synctex.gz
