body{
    background-image: url("../images/background.png");
    color: white;
    font-family: Montserrat;
}

.LoginForm{
    margin-top: 40px;
}

.LoginHeading{
    font-size: 5vh;
    border-bottom: 6px solid rgb(255, 88, 0);
    padding-bottom: 13px;
    margin-bottom: 40px;
    max-width: max-content;
}

.login-textbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(255, 88, 0);
    margin-bottom: 30px;
}

.login-textbox:nth-child(2){
    margin-bottom: 10px;
}

.login-textbox i{
    font-size: 18px;
}

.LoginControl{
    border: none;
    margin-bottom: 3px;
    margin-left: 7px;
    border-radius: 0px;
    background-color: inherit;
    color: white;
}

.LoginControl:focus{
    box-shadow: none !important;
    outline: none !important;
}

.login-button{
     border-radius: 0;
     background: none;
     border: 2px solid rgb(255, 88, 0);
     padding: 4px 0;
     transition: 0.3s;
 }

.login-button:hover{
    background-color: rgb(255, 88, 0);
    border-color: rgb(255, 88, 0);
}

.login-options{
    display: flex;
    flex-direction: row;
    color: #8b8b8b;
    justify-content: space-between;
}

.login-options a{
    color: #8b8b8b;
    font-size: 15px;
    text-decoration: none;
}

.login-options a:hover{
    color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}