body{
    background-image: url("../images/background.png");
    color: white;
    font-family: Montserrat;
}

.RegistrationForm{
    margin-top: 40px;
    min-width: 400px;
}

.RegistrationHeading{
    font-size: 3.5vh;
    font-weight: 600;
    border-bottom: 6px solid rgb(255, 88, 0);
    padding-bottom: 13px;
    margin-bottom: 40px;
    max-width: max-content;
    display: block;
}

.RegistrationControl{
    border: none;
    margin-bottom: 50px;
    border-radius: 0px;
    border-bottom: 1px solid rgb(255, 88, 0);
    background-color: inherit;
    color: white;
}

.RegistrationControl:focus{
    box-shadow: none !important;
}

.RegistrationButton{
    border-radius: 0;
    background: none;
    border: 2px solid rgb(255, 88, 0);
    padding: 4px 0;
    transition: 0.3s;
}

.RegistrationButton:hover{
    background-color: rgb(255, 88, 0);
    border-color: rgb(255, 88, 0);
}