body{
    background-image: url("../images/background.png");
    color: white;
    font-family: Montserrat;
}

.RemindPasswordForm{
    margin-top: 40px;
    min-width: 400px;
}

.RemindPasswordHeading{
    font-size: 3.5vh;
    border-bottom: 6px solid rgb(255, 88, 0);
    padding-bottom: 13px;
    margin-bottom: 40px;
    max-width: max-content;
}

.remind-textbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(255, 88, 0);
    margin-top: 40px;
    margin-bottom: 30px;
}

.remind-textbox i{
    font-size: 18px;
}

.RemindPasswordControl{
    border: none;
    margin-bottom: 3px;
    margin-left: 7px;
    border-radius: 0px;
    background-color: inherit;
    color: white;
}

.RemindPasswordControl:focus{
    box-shadow: none !important;
}

.remind-button{
    border-radius: 0;
    background: none;
    border: 2px solid rgb(255, 88, 0);
    padding: 4px 0;
    transition: 0.3s;
}

.remind-button:hover{
    background-color: rgb(255, 88, 0);
    border-color: rgb(255, 88, 0);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}