.userBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  color: #151515;
  padding: 10px 20px;
  font-size: 18px;
  border-bottom: 1px solid #151515;
}

.userBlock span {
  color: rgb(255, 88, 0);
}

.userBlock a {
  margin-right: 5px;
  margin-left: 5px;
  background: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.userBlock a:hover {
  color: rgb(255, 88, 0);
  cursor: pointer;
}

.userBlock button {
  margin-right: 5px;
  margin-left: 5px;
  background: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.userBlock button:hover {
  color: rgb(255, 88, 0);
  cursor: pointer;
}

.userBlock button:focus {
  outline: none;
}
