.footer {
  background-image: url("../images/background.png");
  padding: 15px 0;
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

.footer a {
  color: rgb(255, 88, 0);
  text-decoration: none;
  text-transform: uppercase;
}
