.title {
  color: white;
  font-family: Montserrat;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 0px 5px 45px;
}

.title span {
  display: flex;
  color: rgb(255, 88, 0);
  background-color: inherit !important;
  font-size: 35px;
  font-weight: 600;
}

.title p {
  color: white;
  margin-bottom: 0px;
}

header a,
a:hover {
  text-decoration: none;
}
