.home {
  padding: 10px 0;
  font-family: "Montserrat", sans-serif;
  max-width: 1000px;
  margin: 0 auto;
}

.home .title {
  background-image: none;
  padding: 0;
  color: #151515;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 35px;
}

.home p {
  color: #4b4b4b;
  font-weight: 600;
}

.home .content {
  color: #4b4b4b;
  line-height: 25px;
  padding: 0px 20px;
  position: relative;
}

.authors {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  min-width: 100%;
  font-weight: 600;
  align-items: center;
}

.authorsWrapper{
  display: flex;
  color: #151515;
  flex-direction: row;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

.authors p{
  margin-bottom: 10px;
}

.authorsWrapper a, a:visited {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #151515;
  text-decoration: none;
  line-height: 20px;
}

.authorsWrapper a:hover, a:active {
  color: rgb(255, 77, 0);
}

.authorsWrapper p{
  margin: 0 10px;
  font-size: 18px;
  font-weight: 200;
  line-height: 20px;
}
