.userBlock {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #151515;
  padding: 0px 20px 0px 20px;
  font-size: 15px;
  max-width: 300px;
  position: absolute;
  right: -300px;
  top: 70px;
  transition: all 0.3s ease;
  background-color: white;
  z-index:1;
}

.showBlock{
  right: 0;
}

h4{
  align-self: center;
  margin-top: 8px;
  margin-bottom: 12px;
}

.userBlock span {
  color: rgb(255, 88, 0);
}

.userBlock button {
  margin-right: 5px;
  margin-bottom: 5px;
  background: none;
  border: none;
  display: block;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.userBlock button:hover {
  border: none !important;
  background: none !important;
  color: rgb(255, 88, 0);
  cursor: pointer;
}

.userBlock button:focus {
  outline: none;
}
